<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="line">
  <h1>Contact Us</h1>
<% @fronts.each do |front| %>
<%= front.contact.html_safe %>
<% end %>
  <a href="/supports/new"><div style="color: blue;"><u>Get support!</u></div></a>

<br>
  <h1>Store Locations</h1>
<% @fronts.each do |front| %>
<%= front.store_loc.html_safe %>
<% end %>
</div>