<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

      <!-- CAROUSEL -->  
      <div class="line">
        <div id="owl-demo" class="owl-carousel owl-theme  margin-bottom">
          <div class="item"><img src="img/940x380.jpg" alt=""></div>
          <div class="item"><img src="img/940x380-2.jpg" alt=""></div>
          <div class="item"><img src="img/940x380-3.jpg" alt=""></div>
        </div> 
      </div>
      <!-- HOME PAGE BLOCK -->      
      <div class="line">
        <div class="margin">
          <div class="s-12 l-4 margin-bottom">
            <div class="box">
              <h2>About</h2>
              <p>the company is now catering into the marketing, distributorship 
			  and dealership of its products on wholesale through its company-owned 
			  store and through its on-line presence 
			  whose passion is to serve and deliver customer satisfaction.</p>
            </div>
          </div>
          <div class="s-12 l-4 margin-bottom">
            <div class="box">
              <h2>Company</h2>
              <p>Powermoto Motorshop, a trading organization established in February 2010 by its founder, 
			  Ditas and Ronald Camballa with the initial purpose of selling on retail 
			  high quality imported and local authentic products of motorcycle parts and 
			  accessories, oils and lubricants and other established products relative 
			  to all models of motorcycles.</p>
            </div>
          </div>
          <div class="s-12 l-4 margin-bottom">
            <div class="box">
              <h2>Services</h2>
              <p>?????????????????</p>
            </div>
          </div>
        </div> 
      </div>
